# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- list data science languages
- list data science libraries
- create a markdown cell with a table of Data Science tools

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn (Python)
2. Pandas (Python)
3. Dplyr (R)
4. ggplot2 (R)

|Data Science Tools|
|-|
|Tensorflow|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

+ ' + ' addition
+ ' - ' substraction
+ ' * ' multiplication

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
round(200/60)

3

## Author: 
Mantas